
<li class="media">
 
  <%= link_to(image_tag(movie.image_url, alt: movie.title), movie) %>
 
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= link_to(movie.title, movie) %></h5>

      <p>
      <%= movie.description %></p>

      <ul class="list-group">
        <li class="list-group-item">Director: <%= movie.director %></li>
        <li class="list-group-item">Release Date: <%= movie.release_date %></li>
        <li class="list-group-item">Run Time: <%= movie.runtime_in_minutes %></li>
      </ul>

    </div>
  </li>